:root{
    --white: #ffffff;
    --red: #ff0000;
    --blue: #112031;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--blue);
    min-height: 100%;
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
}


html{
    height: 100%;
    font-size: 62.5%;
}

#container{
    max-width: 130rem;
    height: 60rem;
    width: 95%;
    margin: 0 auto;
    border-radius: 2rem;
    display: none;
}

.loader {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #ffffff;
  background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before {
  width: 50%;
  height: 50%;
  background: #ffffff;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loader:after {
  background-color: var(--blue);
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.moon,
.mooncloud,
.sun,
.rain,
.clouds,
.suncloud,
.snow,
.fog,
.thunderstorm{
    display: none;
}


.stats-1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 60%;
}

.weather-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
}
.weather-stats{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
    width: 70%;
    height: 100%;
    padding: 3rem;

}

.moon-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.city-title{
    font-size: 7rem;
    letter-spacing: .8rem;
}

.time{
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: .4rem;
}

.temperature {
    font-size: 10rem;
    font-weight: 200;
}

.temp-minmax{
    display: flex;
    gap: 2rem;
    font-size: 2.5rem;
    letter-spacing: .4rem;
}

.stats-2{
    height: 40%;
    display: flex;
    flex-direction: row;
}

.stats-2 > * {
    height: 100%;
    width: 33.3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.humidity h3,
.wind h3,
.date h3{
    font-size: 3rem;
    letter-spacing: .4rem;
    font-weight: 300;
}

.humidity p,
.wind p,
.date p{
    font-size: 3.5rem;
    letter-spacing: .5rem;
    font-weight: 300;
}

.wind-stats{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.circle{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items:center;
}

.triangle{
    border-style: solid;
    border-width: 0 6px 25px 6px;
    border-color: transparent transparent var(--red)  transparent;
}